.hero-container {
    max-width: 1477px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(17, 16, 16);
    padding: 2rem;
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding-top: 110px;
}

.hero-elements {
    width: 1333px;
    height: 460px;
    display: flex;
}

.hero-title {
    font-family: 'Clash Display', sans-serif;
    width: 740px;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.hero-title h1 {
    font-size: 57.6px;
    width: 352px;
    height: 115px;
    line-height: 57.6px;
}

.hero-title h2 {
    font-size: 57.6px;
    color: rgb(192, 40, 45);
    width: 740px;
    height: 115px;
    line-height: 57.6px;
}

.hero-title p {
    width: 612px;
    height: 50px;
}

.hero-image {
    width: 592px;
    height: 474px;
    transform: translateX(25%);
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.hero-image.visible {
    opacity: 1;
    transform: translateX(0);
}

.hero-image img {
    width: 100%;
    height: 100%;
    transform: translateY(-100px);
}

.hire-button {
    margin-left: 20px;
}

.swissmote_hero {
    width: 100%;
    height: 50%;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 80vh;
}

.logo-container img {
    min-width: 150%;
    height: auto;
}